
<h1 class="animated fadeIn">About <small>Comic App</small></h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur iure perspiciatis dolorem, praesentium quis natus, tenetur impedit nobis ex atque dicta modi excepturi quisquam nihil provident, inventore? Quae, quasi, soluta.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae voluptatum, beatae sint quis facilis ducimus, molestiae possimus nulla rem magnam repellendus eum, repudiandae neque veniam, nihil animi quam corporis. Itaque.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro nam esse alias officiis iusto ullam explicabo ipsa unde illum. Dolorem necessitatibus, sit rerum. Sit quia facere repudiandae facilis voluptates omnis?
</p>
